@import url('https://fonts.googleapis.com/css?family=Gugi|Kanit|Roboto|Montserrat:300,400');

@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$total-items: 4;
$Hpxl: 823px;
$Hipad: 1000px;
$desktopW: 840px;
@mixin desktop {
    @media (min-width: #{$desktopW}) {
        @content;
    }
}

@mixin highXL {
    @media (min-height: #{$Hpxl}) {
        @content;
    }
}

@mixin highPad {
    @media (min-height: #{$Hipad}) {
        @content;
    }
}

$color: (
    primary: #F6BA53,
    primary-light: lighten(#F6BA53, 40%),
    primary-dark: darken(#F6BA53, 40%),
    accent: #ffffff,
    dark: #000,
    btn: rgba(0, 0, 0, .5),
    btn-hover: rgb(0, 0, 0)
);

@function color($name) {
    @return map-get($map: $color, $key: $name);
}

body, html {
    padding: 0;
	margin: 0;
    width: 100%;
    overflow: hidden;
}

body {

    // Font management
    font-family: 'Roboto', 'Kanit', sans-serif;

    #th {
        font-family: 'Kanit', sans-serif;
    }

    #spec {
        font-family: 'Gugi', cursive;
    }

    #overlay {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
        background: color(dark);
        opacity: .5;
        width: 100%; height: 100%;
        position: fixed;
        margin: 0; padding: 0;
        display: flex;
        z-index: -1;
        @include desktop {
            clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
        }
    }

    #deb {
        background: color(primary);
        width: 100%; height: 100%;
        position: fixed;
        margin: 0; padding: 0;
        display: flex;
        z-index: -3;
    }

    #btn {
        color: color(primary);
        border-radius: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color(btn);
        display: block;
        text-align: center;
        margin: 50px auto 0 auto;
        padding: 15px;
        transition-duration: 250ms;
        &:hover {
            background-color: color(btn-hover);
            transition: background-color 250ms linear;
        }
    }

    

    .desktop-hide {
        visibility: visible;
        @include desktop {
            visibility: hidden;
        }
    }

    .desktop-show {
        visibility: hidden;
        @include desktop {
            visibility: visible;
        }
    }

    #bg {
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
        width: 100%; height: 100%;
        position: fixed;
        margin: 0; padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../images/abort-me.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        z-index: -2;
        animation-name: bg-change;
        animation-duration: 5s;
        animation-delay: 2s;

        @include desktop {
            clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
            background-position: right;
        }
    }

    @keyframes bg-change {
        0% {background-image: url(../images/abort-me.webp);}
        50% {background-image: url(../images/me.webp);}
        100% {background-image: url(../images/abort-me.webp);}
    } 
}

// header {
    
// }

main {
    @include desktop {
        display: grid;
        grid-template-columns: 75% auto;
        grid-template-areas: 'main nav';
    }

    section#main {
        padding: 15px;
        padding-top: 35vh;
        @include desktop {
            padding-top: 25vh;
        }
    }

    section#nav {
        padding: 15px;
        padding-top: 5vh;
        // @include highXL {
        //     padding-top: 20vh;
        // }
        // @include highPad {
        //     padding-top: 25vh;
        // }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        li {
            display: inline-block;
            font-size: 1.2em;
            margin: 0 20px 0 auto;
            position: relative;
            animation-name: og-load;
            animation-duration: 500ms;
            animation-fill-mode: both;
            animation-delay: 500ms;
            // top: 300px;
            a {
                text-decoration: none;
                color: color(accent);
                transition-duration: 250ms;
                &:hover {
                    color: color(dark);
                    transition-duration: 250ms;
                }
            }
            @include desktop {
                display: block;
                font-size: 1.6em;
                margin: 30px 0 auto 0;
            }
        }
        @for $i from 1 through $total-items {
            li:nth-child(#{$i}) {
              animation-delay: .25s * $i;
            }
        }

        @keyframes og-load {
            0% {
                opacity: 0;
                top: 100px;
            }
            75% {
                opacity: 0.5;
                top: 0px;
            }
            100% {
                opacity: 1;
            }
        }
        @include desktop {
            padding-top: 30vh;
            @keyframes og-load {
                0% {
                    opacity: 0;
                    left: 100px;
                }
                75% {
                    opacity: 0.5;
                    left: 0px;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    // Animation Zone
    .glitch {
        position: relative;
        text-align: center;
        font-weight: lighter;
        color: color(accent);
        font-size: 2em;
        letter-spacing: .3em;
        span {
            font-family: 'Roboto';
            letter-spacing: .1em;
            font-size: .5em;
            margin: 0;
            padding: 0;
        }
    }

    #subhead {
        color: color(accent);
        text-align: center;
        font-size: 1.5em;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        @include desktop {
            font-size: 2em;
        }
    }

    #wrapper {
        margin: 15px;
        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #btn {
            margin: 15px;
            @include desktop {
                display: inline-block;
                padding: 15px 20px * 4;
            }
        }
    }
}