@import url("https://fonts.googleapis.com/css?family=Gugi|Kanit|Roboto|Montserrat:300,400");
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', 'Kanit', sans-serif;
}

body #th {
  font-family: 'Kanit', sans-serif;
}

body #spec {
  font-family: 'Gugi', cursive;
}

body #overlay {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
  background: #000;
  opacity: .5;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

@media (min-width: 840px) {
  body #overlay {
    -webkit-clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
            clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
  }
}

body #deb {
  background: #F6BA53;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -3;
}

body #btn {
  color: #F6BA53;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 15px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

body #btn:hover {
  background-color: black;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

body .desktop-hide {
  visibility: visible;
}

@media (min-width: 840px) {
  body .desktop-hide {
    visibility: hidden;
  }
}

body .desktop-show {
  visibility: hidden;
}

@media (min-width: 840px) {
  body .desktop-show {
    visibility: visible;
  }
}

body #bg {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 80%);
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/abort-me.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  -webkit-animation-name: bg-change;
          animation-name: bg-change;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
            clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
    background-position: right;
  }
}

@-webkit-keyframes bg-change {
  0% {
    background-image: url(../images/abort-me.webp);
  }
  50% {
    background-image: url(../images/me.webp);
  }
  100% {
    background-image: url(../images/abort-me.webp);
  }
}

@keyframes bg-change {
  0% {
    background-image: url(../images/abort-me.webp);
  }
  50% {
    background-image: url(../images/me.webp);
  }
  100% {
    background-image: url(../images/abort-me.webp);
  }
}

@media (min-width: 840px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% auto;
        grid-template-columns: 75% auto;
        grid-template-areas: 'main nav';
  }
}

main section#main {
  padding: 15px;
  padding-top: 35vh;
}

@media (min-width: 840px) {
  main section#main {
    padding-top: 25vh;
  }
}

main section#nav {
  padding: 15px;
  padding-top: 5vh;
}

main section#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

main section#nav li {
  display: inline-block;
  font-size: 1.2em;
  margin: 0 20px 0 auto;
  position: relative;
  -webkit-animation-name: og-load;
          animation-name: og-load;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

main section#nav li a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

main section#nav li a:hover {
  color: #000;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

@media (min-width: 840px) {
  main section#nav li {
    display: block;
    font-size: 1.6em;
    margin: 30px 0 auto 0;
  }
}

main section#nav li:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

main section#nav li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

main section#nav li:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

main section#nav li:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes og-load {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes og-load {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 840px) {
  main section#nav {
    padding-top: 30vh;
  }
  @-webkit-keyframes og-load {
    0% {
      opacity: 0;
      left: 100px;
    }
    75% {
      opacity: 0.5;
      left: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes og-load {
    0% {
      opacity: 0;
      left: 100px;
    }
    75% {
      opacity: 0.5;
      left: 0px;
    }
    100% {
      opacity: 1;
    }
  }
}

main .glitch {
  position: relative;
  text-align: center;
  font-weight: lighter;
  color: #ffffff;
  font-size: 2em;
  letter-spacing: .3em;
}

main .glitch span {
  font-family: 'Roboto';
  letter-spacing: .1em;
  font-size: .5em;
  margin: 0;
  padding: 0;
}

main #subhead {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

@media (min-width: 840px) {
  main #subhead {
    font-size: 2em;
  }
}

main #wrapper {
  margin: 15px;
}

@media (min-width: 840px) {
  main #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #wrapper #btn {
  margin: 15px;
}

@media (min-width: 840px) {
  main #wrapper #btn {
    display: inline-block;
    padding: 15px 80px;
  }
}
/*# sourceMappingURL=main.css.map */