/*  Create by Fluke.NXZ http://github.com/flukejessada */

body {
    background-color: #ffe082;
}
a.footer:link {
    font-size: 2em;
    color: #ffb300;
}
a.footer:visited {
    color: #ffb300;
}
a.footer:hover {
    color: rgb(192, 143, 78);
    text-decoration: none;
}
a.footer:active {
    color: #ffb300;
}

body, html {
    height: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.banner-area {
    background-image: url(../images/me-banner.webp);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-area .overlay-bg {
    background: rgba(255, 183, 77, 0.3);
}
.banner-area .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.me-area {
    background-image: url(../images/abort-me.webp);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.me-area .centered {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-100%, -50%);
}
