
# Created by https://www.toptal.com/developers/gitignore/api/vscode,vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,vuejs

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/vscode,vuejs
.env